@model IEnumerable<GerenciamentoClientes.Historias.ClienteHistoria.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Clientes";
}

<div class="content">    
    <div class="container-fluid">      

        <div class="col-md-12">
            <div class="filtro">
                <partial name="Partials\_Filtro" model="null" />
            </div>

            <div class="filtro">
                <partial name="Partials\_Tabela" model="Model" />
            </div>

        </div>
    </div>
</div>
