@model IEnumerable<GerenciamentoClientes.Historias.ClienteHistoria.ViewModels.ClienteViewModel>
<div class="row">
    <div class="col-md-12">
        <div class="float-left">
            <p>Painel de controle | @DateTime.Now.ToString("MMMM yyyy")</p>
        </div>
        <div class="btn-group float-right">
            <button onclick="carregarRelatorio('mes');" type="button" class="btn btn-primary">
                Mes
            </button>

            <button onclick="carregarRelatorio('semana');" type="button" class="btn btn-primary">
                Semana
            </button>

            <button onclick="carregarRelatorio('dia');" type="button" class="btn btn-primary">
                Dia
            </button>
        </div>

    </div>


    <div id="relatorio" class="col-md-12">
    </div>

    <div class="spinner container" id="spinner">
    </div>

</div>
@section Scripts{
    <script src="~/js/spinner.js"></script>
}
